@{
	ViewData["Title"] = "Register";
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>
	<link rel="stylesheet" href="~/css/Login/RegisterStyle.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>
<body>

	<div id="warning">
		<img src="~/Img/warning/warning.png" />
	</div>
	<div id="content_id">

		<div id="open-modal" class="modal-window">
			<div>
				<h4>Memories | Website Terms of Service</h4>
				<div class="container">
					<div class="box">
						<p class="title">1. Introduction and Acceptance of Terms</p>
						<p class="word">At the beginning of the terms of service, there should be an introduction, stating that users must accept and adhere to these terms. User use of the forum represents their agreement to comply with these regulations.</p>
					</div>
					<div class="box">
						<p class="title">2. User Responsibilities</p>
						<p class="word">Clearly list the user's responsibilities on the forum, including not posting infringing, obscene, offensive, or illegal content, and not abusing forum features, etc. Remind users to respect others.</p>
					</div>
					<div class="box">
						<p class="title">3. Intellectual Property</p>
						<p class="word">Explain that all content on the forum (posts, comments, images, etc.) belongs to the forum or its creators, and users must not illegally copy, distribute, or modify this content.</p>
					</div>
					<div class="box">
						<p class="title">4. User Accounts</p>
						<p class="word">Explain the process of creating user accounts, password security requirements, and user responsibilities for managing and protecting their accounts.</p>
					</div>
					<div class="box">
						<p class="title">5. Complaints and Copyright Infringement</p>
						<p class="word">Provide a complaint mechanism for users to report violations or copyright infringement, while clearly outlining your handling procedures.</p>
					</div>
					<div class="box">
						<p class="title">6. Termination Rights</p>
						<p class="word">Clearly state your right to terminate or suspend user accounts at any time if they violate the terms of service.</p>
					</div>
					<div class="box">
						<p class="title">7. Disclaimer</p>
						<p class="word">Explain that you do not take responsibility for the accuracy and legality of forum content, as well as for any potential losses that may occur.</p>
					</div>
					<div class="box">
						<p class="title">8. Dispute Resolution</p>
						<p class="word">Explain how you wish to resolve disputes, such as through mediation or arbitration.</p>
					</div>
					<div class="box">
						<p class="title">9. Applicable Law</p>
						<p class="word">Specify that these terms are governed by Malaysian law.</p>
					</div>
					<div class="box">
						<p class="title">10. Modification Rights</p>
						<p class="word">Reserve the right to modify the terms of service and remind users to regularly check for updates to the terms.</p>
					</div>
					<div class="box">
						<p class="title">11. Contact Information</p>
						<p class="word">Provide your contact information so that users can reach out to you.</p>
					</div>
					<div class="box">
						<p class="title">12. Notifications</p>
						<p class="word">Specify the method of notification, such as through email or on-site messaging.</p>
					</div>
				</div>
				<div class="btn-box">
					<a href="#" title="Close" class="btn-1" id="agree-btn">Agree</a>
					<a href="~/Home/HomePage" class="btn-2">Disagree</a>
				</div>
			</div>
		</div>



		<div class="video-app">

			<div class="header">
				<div class="header-left">
					<a href="~/Home/HomePage">
						<img src="~/Img/LogoWhite.png" class="logo" />
					</a>
				</div>
				<div class="header-menu">
					<a href="~/Home/HomePage" class="menu-item">Home</a>
					<a href="~/Home/Daily_SignIn" class="menu-item">Check-In</a>
					<a href="~/Home/Rules" class="menu-item notify">Beginner's Basics</a>
					<a href="~/Home/Customer_Services" class="menu-item">Service</a>
					<a href="~/Home/Common_Problems" class="menu-item">FAQs</a>
				</div>
				<div class="user-settings">
					<div class="login-register-box">
						<a href="~/Login/Login">Login</a>
						<a href="~/Login/Register">Register</a>
					</div>

					<a href="~/Login/Login">
						<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 50 50">
							<g>
								<path class="st0"
									  d="M25,27c2.5,0,4.5-2,4.5-4.5S27.5,18,25,18s-4.5,2-4.5,4.5S22.5,27,25,27z">
								</path>
								<path class="st0"
									  d="M35.5,20.6C34.9,19.2,34.1,18,33,17c-1-1-2.3-1.9-3.6-2.4c-1.4-0.6-2.9-0.9-4.4-0.9c-1.6,0-3.2,0.3-4.7,1c-1.4,0.6-2.7,1.6-3.7,2.7c-0.2,0.2-0.2,0.5,0,0.7c0.2,0.2,0.5,0.2,0.7,0c2-2.2,4.7-3.4,7.6-3.4c5.7,0,10.3,4.6,10.3,10.3c0,0.8-0.1,1.7-0.3,2.5c-0.1,0.3,0.1,0.6,0.4,0.6c0,0,0.1,0,0.1,0c0.2,0,0.5-0.2,0.5-0.4c0.2-0.9,0.3-1.8,0.3-2.7C36.4,23.5,36.1,22,35.5,20.6z">
								</path>
								<path class="st0"
									  d="M31.7,32.9c-0.2,0.1-0.3,0.3-0.5,0.4l-0.8-3.9c-0.1-0.5-0.6-1-1.2-1h-8.5c-0.5,0-1.1,0.4-1.2,1l-0.8,3.9c-2.5-1.9-4.1-4.9-4.1-8.2c0-1.1,0.2-2.2,0.5-3.2c0.1-0.3-0.1-0.6-0.3-0.7c-0.3-0.1-0.6,0.1-0.7,0.3c-0.4,1.1-0.6,2.3-0.6,3.6c0,1.5,0.3,3,0.9,4.4c0.6,1.4,1.4,2.6,2.4,3.6c1,1,2.3,1.9,3.6,2.4c1.4,0.6,2.9,0.9,4.4,0.9c1.4,0,2.7-0.2,4-0.7c1.2-0.5,2.4-1.1,3.4-2c0.2-0.2,0.2-0.5,0.1-0.7C32.2,32.7,31.9,32.7,31.7,32.9z">
								</path>
							</g>
						</svg>
					</a>
				</div>
			</div>

			<div class="JG">
				<div class="swiper mySwiper-vertical">
					<div class="swiper-wrapper vertical-JG">
						<div class="swiper-slide">[Station Announcement] The general moderation rules are here! Please read carefully to avoid violating <a href="~/Home/Rules" class="text-alert">Beginner's Basics</a> (2023-10-14)</div>
						<div class="swiper-slide">[Station Announcement] Please follow forum rules, post relevant content in the appropriate sections, or else we'll revoke your posting privileges. (2023-10-14)</div>
						<div class="swiper-slide">[Station Announcement] No online violence allowed, please use friendly comments and communication. (2023-10-14)</div>
						<div class="swiper-slide">[Station Announcement] No explicit content posts allowed, or else your account will be blocked. (2023-10-14)</div>
						<div class="swiper-slide">[Station Announcement] Please refrain from posting false information that could mislead others. (2023-10-14)</div>
						<div class="swiper-slide">
							[Station Announcement] If you have any questions about the forum, you can click on <a href='~/Home/CUstomer_Services' class='text-alert'>Customer Support</a> to get help. (2023-10-14)
						</div>
						<div class="swiper-slide">[Station Announcement] Avoid sharing your account and password with others, or face the consequences yourself. (2023-10-14)</div>
						<div class="swiper-slide">[Station Announcement] Exercise caution in trusting others and avoid falling for scams. (2023-10-14)</div>
						<div class="swiper-slide">[Station Announcement] Please be cautious about any content related to transferring money to others to avoid falling for scams. (2023-10-14)</div>
						<div class="swiper-slide">[Station Announcement] Please protect the privacy of others. (2023-10-14)</div>
					</div>
				</div>
			</div>


		</div>

		<div class="hight_box">
			<section class="top-container">
				<form action="/Login/Register" method="post">
					<div class="box-container-login-small-box">
						<div class="box-container-login-div-main">
							<p class="login-word">Register</p>
							<a href="~/Login/Login" class="register-word">Already have an account? login</a>
						</div>
						<div class="box-container-login">

							<input type="hidden" id="hiddenGmail" name="gmail" value="">

							<div class="box-container-login-div">
								<p class="first-word">Username:</p>
								<input type="text" name="username" id="username" required />
								<p style="margin-left:20px;color:red;" id="username-error"></p>
							</div>
							<div class="box-container-login-div">
								<p class="first-word">Password:</p>
								<input type="password" name="password" id="password" required />
								<p style="margin-left:20px;color:red;" id="password-error"></p>
							</div>
							<div class="box-container-login-div">
								<p class="first-word">Email:</p>
								<input type="email" id="gmail" required />
								<p style="margin-left:20px;text-decoration:underline;cursor:pointer;" id="vcode">verification code</p>
								<p style="margin-left:20px;color:red;" id="email-error"></p>
							</div>
							<div class="box-container-login-div">
								<p class="first-word">Code:</p>
								<input type="text" name="code" id="code" required />
							</div>
							<div class="box-container-login-div">
								<p class="first-word">Phone(+60):</p>
								<input type="text" name="phone" id="phone" required />
								<p style="margin-left:20px;color:red;" id="phone-error"></p>
							</div>
							<div class="box-container-login-div">
								<p class="first-word">Gender:</p>
								<select class="select-box" name="gender" id="gender">
									<option value="0">Male</option>
									<option value="1">Female</option>
									<option value="2">Other</option>
								</select>
							</div>
							<div class="box-container-login-div">
								<p class="first-word">Security Question:</p>
								<select class="select-box" name="security_question" id="security_question">
									<option value="0">Mother's name</option>
									<option value="1">Grandfather's name</option>
									<option value="2">City of father's birth</option>
									<option value="3">Name of one of your teachers</option>
									<option value="4">Model of your personal computer</option>
									<option value="5">Name of your favorite restaurant</option>
									<option value="6">Last four digits of your driver's license</option>
								</select>
							</div>
							<div class="box-container-login-div">
								<p class="first-word">Answer:</p>
								<input type="text" name="security_question_answers" id="security_question_answers" required />
								<p style="margin-left:20px;color:red;">@ViewBag.security_question_answers</p>
							</div>
							<div class="button-login">
								<button type="submit" id="stb">Register</button>
							</div>
						</div>
					</div>
				</form>
			</section>
		</div>




		<div class="footer">
			<div class="container-footer">
				<p>For the sake of account security, it is recommended to use a computer operating system with Windows 7 or above.</p>

				<hr class="hr-footer" />
				<p class="content-footer-text">
					<span class="bold-class">Important Statement:</span> This website operates by allowing users to post messages, and the site does not bear any legal responsibility for the authenticity, completeness, or positions of all messages. The opinions expressed in all messages represent the views of the individual users, not the stance of this website. Users should not rely on the content and should judge its authenticity for themselves. As the discussion area operates with a "message" method, it is not possible to fully monitor all messages. If readers find any problematic messages, please contact us. This site reserves the right to delete any messages and refuse messages from any individuals, while also reserving the right not to delete messages. Please refrain from using offensive language, defamation, promoting pornography or violence, or engaging in personal attacks. This website reserves all legal rights.
				</p>
				<hr class="hr-footer" />
				<div class="footer-svg">
					<a href="https://www.facebook.com/profile.php?id=61553120353451" target="_blank">
						<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 30 30">
							<path d="M12.6,24.7h3.9v-9.8h2.7l0.3-3.3h-3V9.8c0-0.8,0.2-1.1,0.9-1.1h2.1V5.3h-2.7c-2.9,0-4.2,1.3-4.2,3.7v2.6h-2V15h2C12.6,15,12.6,24.7,12.6,24.7z"></path>
						</svg>
					</a>

					<a href="https://www.instagram.com/memoryforumweb/" target="_blank">
						<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 30 30">
							<g>
								<path d="M15,7.8c2.4,0,2.6,0,3.6,0c0.9,0,1.3,0.2,1.6,0.3c0.4,0.2,0.7,0.4,1,0.7c0.3,0.3,0.5,0.6,0.7,1c0.1,0.3,0.3,0.8,0.3,1.6c0,0.9,0.1,1.2,0.1,3.6s0,2.6-0.1,3.6c0,0.9-0.2,1.3-0.3,1.6c-0.2,0.4-0.4,0.7-0.7,1c-0.3,0.3-0.6,0.5-1,0.7c-0.3,0.1-0.8,0.3-1.6,0.3c-0.9,0-1.2,0-3.6,0s-2.6,0-3.6,0c-0.9,0-1.3-0.2-1.6-0.3c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.6-0.7-1c-0.1-0.3-0.3-0.8-0.3-1.6c0-0.9,0-1.2,0-3.6s0-2.6,0-3.6c0-0.9,0.2-1.3,0.3-1.6c0.2-0.4,0.3-0.7,0.7-1c0.3-0.3,0.6-0.5,1-0.7c0.3-0.1,0.8-0.3,1.6-0.3C12.4,7.8,12.6,7.8,15,7.8 M15,6.2c-2.4,0-2.7,0-3.6,0.1c-0.9,0-1.6,0.2-2.1,0.4c-0.6,0.2-1.1,0.5-1.6,1c-0.5,0.5-0.8,1-1,1.6c-0.2,0.6-0.4,1.2-0.4,2.1c0,0.9-0.1,1.2-0.1,3.6c0,2.4,0,2.7,0.1,3.6c0,0.9,0.2,1.6,0.4,2.1c0.2,0.6,0.5,1.1,1,1.6c0.5,0.5,1,0.8,1.6,1c0.6,0.2,1.2,0.4,2.1,0.4c0.9,0,1.2,0.1,3.6,0.1c2.4,0,2.7,0,3.6-0.1c0.9,0,1.6-0.2,2.1-0.4c0.6-0.2,1.1-0.5,1.6-1c0.5-0.5,0.8-1,1-1.6c0.2-0.6,0.4-1.2,0.4-2.1c0-0.9,0.1-1.2,0.1-3.6c0-2.4,0-2.7-0.1-3.6c0-0.9-0.2-1.6-0.4-2.1c-0.2-0.6-0.5-1.1-1-1.6c-0.5-0.5-1-0.8-1.6-1c-0.6-0.2-1.2-0.4-2.1-0.4C17.7,6.2,17.4,6.2,15,6.2"></path>
								<path d="M15,10.5c-2.5,0-4.5,2-4.5,4.5s2,4.5,4.5,4.5c2.5,0,4.5-2,4.5-4.5S17.5,10.5,15,10.5 M15,17.9c-1.6,0-2.9-1.3-2.9-2.9s1.3-2.9,2.9-2.9s2.9,1.3,2.9,2.9C17.9,16.6,16.6,17.9,15,17.9"></path>
								<path d="M20.8,10.3c0,0.6-0.5,1.1-1.1,1.1c-0.6,0-1.1-0.5-1.1-1.1c0-0.6,0.5-1.1,1.1-1.1C20.3,9.2,20.8,9.7,20.8,10.3"></path>
							</g>
						</svg>
					</a>

					<a href="https://www.youtube.com/channel/UCYo-7ahkqpUhafDny2mm6AA" target="_blank">
						<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 30 30">
							<path d="M23.4,10.8c-0.2-0.8-0.8-1.4-1.6-1.6C20.5,8.8,15,8.8,15,8.8s-5.5,0-6.9,0.4C7.4,9.4,6.8,10,6.6,10.8C6.2,12.1,6.2,15,6.2,15s0,2.9,0.4,4.2c0.2,0.8,0.8,1.4,1.6,1.6c1.4,0.4,6.9,0.4,6.9,0.4s5.5,0,6.9-0.4c0.8-0.2,1.4-0.8,1.6-1.6c0.4-1.4,0.4-4.2,0.4-4.2S23.8,12.1,23.4,10.8z M13.2,17.6v-5.3l4.6,2.6L13.2,17.6z"></path>
						</svg>
					</a>
				</div>
				<hr class="hr-footer" style="margin-bottom:10px;" />
				<p style="font-size:10px;">Copyright © 2023 Memory Forum (https://www.jkforum.net/) All Rights Reserved.</p>
			</div>
		</div>


	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
	<script src="~/js/Home/HomeJs.js"></script>
	<script src="~/js/Login/RegisterJs.js"></script>
	<script src="~/js/Public/Size.js"></script>
</body>
</html>

